*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

# Test Data Folder
data/

# Unit Test Results
TestResults/

# Terroaform
.terraform

# Azurite Files (note - https://github.com/Azure/Azurite/pull/1061)
__azurite_db_blob_extent__.json
__azurite_db_blob__.json
__azurite_db_queue__.json
__azurite_db_table__.json
__azurite_db_queue_extent__.json
__blobstorage__
__queuestorage__
